<img class="max-h-[150px] max-w-[100%] mx-auto block" src="../../../assets/images/logo-big.png">
<br>
<div class="mx-1 lg:mx-[20px]">
  <p>
    Welcome to Serverless-VEP (sVEP), your gateway to the future of serverless computing in bioinformatics. This
    innovative approach takes the traditional variant effect prediction model and adapts it to a contemporary
    serverless
    architecture, aiming to revolutionize how we understand and predict genetic variations.
  </p>
  <p>
    Predicting the potential effects of genetic variation is a crucial task in bioinformatics, one that requires
    cutting-edge technology and expertise. With sVEP, we harness the power of serverless computing to provide a
    scalable, efficient, and cost-effective solution for genomic analysis. Here, you can analyze large-scale genomic
    data without worrying about server maintenance or the limitations of a physical infrastructure.
  <p>
    To make full use of our platform, please navigate to the <a [routerLink]="['/submit']">'Submit'</a> page. Here you
    can input your data for analysis
    -
    whether it be sequences, variants or any other genomic data. Our platform accommodates complex workloads and
    ensures
    speedy, accurate predictions. The intricacies of data processing are handled seamlessly in the background while
    you
    can focus on deriving insights from the results.
  </p>
  If you're a returning visitor and have already submitted your job previously, you may bypass the submission process
  by heading straight to the <a [routerLink]="['/results']">'Results'</a> page. Simply key in the unique job submission
  ID provided at the time of your
  original submission, and you will be directed to your personalized results instantly.
  <p>
    For those keen on gaining a deeper understanding of sVEP, our <a [routerLink]="['/about']">'About'</a> page provides
    comprehensive information
    about
    our methodology, our vision, and our dedicated team. Learn more about how we implement the serverless
    architecture,
    our algorithmic approach to variant effect prediction, and meet the experts who have made this pioneering effort
    possible.
  </p>
  <p>
    In conclusion, whether you're a researcher hunting for intriguing patterns within genomic sequences or a student
    uncovering the mysteries of human genetics, sVEP offers a transformative serverless experience that propels
    bioinformatics into a new era.
  </p>
</div>